//this file can export to another file i.e app.scss
//mixin
@mixin flexProb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

@mixin commonCode{
    font-size: 2rem +2rem;
    text-transform:uppercase;
}
//we can send params also
@mixin commonCodes($part1){
    letter-spacing: $part1;

}