// before start install sass with npm install
//add extension in vs code -> live sass compiler
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

$bg-color:#10ac84;

// 1. operators
// 2. Variables
// 3. Nesting
// 4. Mixin
//import external files here
@import "var"; 
.main-header{
    @include flexProb;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;

    h1{
        @include commonCodes(.4rem);
        @include commonCode;
        color: red;
        &:hover{
            color: #190;
            cursor: pointer;
        }
    }
    p{
        font-size: 2rem + 2rem;
        &:hover{
            color: #383738;
            cursor: pointer;
        }
        &::after{
            content: " learn";
        }
    }
}
