* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #10ac84;
}
.main-header h1 {
  letter-spacing: 0.4rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: red;
}
.main-header h1:hover {
  color: #190;
  cursor: pointer;
}
.main-header p {
  font-size: 4rem;
}
.main-header p:hover {
  color: #383738;
  cursor: pointer;
}
.main-header p::after {
  content: " learn";
}/*# sourceMappingURL=app.css.map */