
<!-- <div> 
    <h2>I am parent data in child</h2>
    {{parentData.name}}
    {{parentData.place}}
</div> -->

<!-- <div> 
    <h2>I am child data in parent</h2>
    {{parentData.name}}
    {{parentData.place}}
</div> -->
<div>
    <button type="button" class="btn btn-primary" (click)="sendData()">Primary</button>

</div>
