
<!-- parent data to child ****uses square bracket -->
<!-- <app-child [parentData]="dataObj"></app-child> -->

<!-- child to parent *** uses parenthis-->
<!-- <app-child (childData)="parentFunction($event)"></app-child> 
<h3>child data name :{{name}}</h3> -->

<!-- child to paretnt we also use @viewchild decorator in parent component -->

<div class="input-container">
    <input #someInput type="text" placeholder="Your favorite sea creature">
    <input #someInput type="text"placeholder="Your favorite sea creature">

    <input #someInput type="text"placeholder="Your favorite sea creature">

    <input #someInput type="text"placeholder="Your favorite sea creature">

</div>