<h3>
    Date:{{dateToday | date:'long'}}<br>
    Date:{{dateToday | date:'short'}}<br>
    Date:{{dateToday | date:'shortDate'}}<br>
    Date:{{dateToday | date:'shortTime'}}<br>
    Date:{{dateToday | date:'medium'}}<br>
    Date:{{dateToday | date:'mm:ss'}}<br>
    <!-- Date:{{dateToday | date:'MMM dd, yyyy 'at' hh:mm a'}}<br> -->
    Date:{{dateToday | date:'fullTime'}}<br>
    Date:{{dateToday | date:'mediumDate'}}<br>
   
</h3>
<h3>
    Name: {{name | uppercase}}<br>
    Name: {{name | lowercase}}<br>
</h3>
<h3>
    Currency:{{currency}}<br>
    Currency:{{currency | currency:'INR'}}<br>
    Currency:{{currency | currency:'USD'}}<br>
</h3>
<h3>
    PercentNumber:{{percentNumber | percent}}
    PercentNumber:{{percentNumber | percent:'3.5'}}
</h3>
<h3>
    DecimalPipe:{{decimalNumber}}
</h3>
