<!-- <div style="text-align: center;">
<title>{{title}}</title>
<button (click)="getmessage()">Click me</button>
<h2>{{msg}}</h2>
</div> -->

  <!-- <app-practice></app-practice> -->
  <!-- <app-propertybindig></app-propertybindig> -->
  <!-- <app-project1></app-project1> -->
  <!-- <app-child [parentData]="data"></app-child> -->
  <!-- <app-parent></app-parent> -->
  <div class="mian-container">
    <div class="nav-container">
      <ul>
        <li><a routerLinkActive="active" routerLink="home">Home</a></li>
        <li> <a routerLinkActive="active" routerLink="users">Users</a> </li>
        <li><a routerLinkActive="active" routerLink="about">About</a></li>
      </ul>
    </div>
   
</div>
<app-observable></app-observable>
<!-- <app-material></app-material> -->
<!-- <div class="container">
  <router-outlet></router-outlet>
  it is directive which tells where we want to display our page
</div>
<app-parent></app-parent> -->
<!-- <h2 appAttribute>Custom attribute is here</h2>
<h2 *appStructral="true">Structural Directive True</h2>
<h2 *appStructral="false">Structural Directive false</h2> -->
<!-- <app-rxjs></app-rxjs> -->

