<div *ngIf="isCustomer"> 
    This text will be hidden 
    <h1 [ngStyle]="{'color':'#FF0000'}"> 
        GFG Structural Directive Example 
    </h1> 
    </div> 
    <div *ngIf="!isCustomer"> 
    This text will be displayed 
    <h1 [ngStyle]="{'color':'#00FF00'}"> 
        GFG Structural Directive Example 
    </h1> 
    </div>

    <!-- <div>
        <ul>
            <li *ngFor="let details of customers;let i=index, let f=first;let l=last;let o=odd;let e=even"
            [ngClass]="{firstName:f, lastName:l,evenName:e,oddName:o}">{{i+1}} {{details}}</li>
        </ul>
    </div> -->
    <!-- <div [ngSwitch]="concepts">
        <div *ngSwitchCase="'componentdirective'">This is component directive</div>
        <div *ngSwitchCase="'structuraltdirective'">This is strutural directive</div>
        <div *ngSwitchCase="'attributedirective'">This is attribute directive</div>
        <div *ngSwitchDefault>Built in directives</div>
    </div> -->

    <div [ngStyle]="{'font-size':'14px','color':'red'}">
        <p>Attribute Directive</p>
    </div>
    <div [ngStyle]="{'color':styleprop,'font-size':'20px'}">
        <p>Attribute Directive of dynamical value</p>
    </div>
    <div [ngStyle]="{'color':styleprop==='red' ? 'red' :'green'}">
        <p>Attribute Directive conditional statement</p>
    </div>
    