<div *ngFor="let contact of contacts">
    <table>
        <th [title]="contact.firstName">{{contact.firstName}} </th>
        <th>{{contact.lastName}}</th>
        
    </table>

</div>
<!-- //this code is for two way data binding -->
<div>
<input [(ngModel)]="username">
</div>

<h1>
    {{username}}
</h1>